body {
    font-family: 'Poppins', sans-serif;
    color: #101010;
    background-color: #ede6ff;
  }

  p {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  input {
    margin-left: 720px;
  }


    